*/.classpath
*/.settings
*/.project
*/.cache*
*/target
*/bin
.gradle
.settings
.project
build
*/build
com.logicalhacking.dasca.dataflow/config/main.config
com.logicalhacking.dasca.dataflow/main.log*
com.logicalhacking.dasca.crosslanguage/BuildCordovaCallgraph.launch
