<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="eu.aniketos.dasca.dataflow.actionSet"
            label="DASCA Action Set"
            visible="true">
         <menu
               label="DASCA"
               id="eu.aniketos.dasca.menu">
            <separator
                  name="eu.aniketos.dasca.group">
            </separator>
         </menu>
         <action
               label="Analyze Source Code"
               class="eu.aniketos.dasca.dataflow.actions.AnalyzeSourceCode"
               tooltip="Analyze Source Code"
               menubarPath="eu.aniketos.dasca.menu/eu.aniketos.dasca.group"
               toolbarPath="eu.aniketos.dasca.group"
               id="eu.aniketos.dasca.dataflow.actions.AnalyzeSourceCode">
         </action>
      </actionSet>
   </extension>

</plugin>
