<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="scala.application">
<listAttribute key="StepOutExcludePkgsOrClasses"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/eu.aniketos.dasca.crosslanguage.test/src/main/scala/eu/aniketos/dasca/crosslanguage/test/TestDriver.scala"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="eu.aniketos.dasca.crosslanguage.test.TestDriver"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-mrfj src/main/resources"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="eu.aniketos.dasca.crosslanguage.test"/>
</launchConfiguration>
